<?xml version="1.0"?>
<launch>
    <arg name="robot_type" default="ICLU_B1" />
    <arg name="robot_description_path"	 value="$(find opengl_test)/robot_description/urdf/$(arg robot_type).xacro" />


    <!-- Is the following parameter necessary for real robot??-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg robot_description_path)" />

    <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" / -->

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <param name="publish_frequency" value="10.0"/>
        <param name="ignore_timestamp" value="false"/> <!-- Default: false -->
        <param name="use_tf_static" value="true"/>
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg robot_description_path)" />
    </node>
</launch>
